{
    "node0_crusher": {
        "t1a": 0.5, "t1b": 0.5, "t1c": 0.5, "t1d": 0.5,
        "t2a": 0.5, "t2b": 0.5, "t2c": 0.5, "t2d": 0.5,
        "t3a": 0.5, "t3b": 0.5, "t3c": 0.5, "t3d": 0.5,
        "t4a": 0.5, "t4b": 0.5, "t4c": 0.5, "t4d": 0.5
    },
    "node1_cvr": {
        "t5a": 3.0, "t5b": 1.0, "t5c": 3.0, "t5d": 2.0,
        "t6a": 0.0, "t6b": 0.0
    },
    "node4_silo": {
        "t7a": 10.0, "t7b": 10.0, "t7c": 10.0, "t7d": 10.0,
        "t7e": 10.0, "t7f": 10.0, "t7g": 10.0, "t7h": 10.0,
        "t7i": 10.0, "t7j": 10.0, "t7k": 10.0, "t7l": 10.0,
        "t7m": 10.0, "t7n": 10.0, "t7o": 10.0, "t7p": 10.0,
        "t7q": 10.0, "t7r": 10.0
    },
    "node45_mill": {
        "t8t9t10_a": 15.0, "t8t9t10_b": 15.0, "t8t9t10_c": 15.0,
        "t8t9t10_d": 15.0, "t8t9t10_e": 15.0, "t8t9t10_f": 15.0
    }
}
